<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<main>

    <h1>Поиск постов</h1>

    <form action="/search" method="get">
        <p>По вхождению слова</p>
        <input type="text" name="s">
        <input type="submit" value="Найти" class="button">
    </form>

    <hr>

    <a href="/post" class="button">Добавить пост</a>
    <br>
    <hr>
    {% for post in posts %}
        <div class="post">
            <img src="{{ post.uniq_img }}" width="100%" alt="">
            <p>{{ post.content }}</p>
        </div>
        <hr>
    {% endfor %}

</main>
</body>
</html>
